<div id="<%= dom_id expense_category %>">
  <p>
    <strong>Expense:</strong>
    <%= expense_category.expense_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense_category.category_id %>
  </p>

</div>
